
<script>
    function changePassword() {
        const form = document.getElementById("passwordForm");
        fetch("/api/users/password", {
            method: "POST",
            body: JSON.stringify({
                email: form[0].value,
                oldPassword: form[1].value,
                newPassword: form[2].value
            }),
            headers: {
                "Content-Type": "application/json",
                "Authorization": "Bearer "+ localStorage.getItem('token')
            },
        })
            .then(() => {
                const error = document.getElementById("error");
                if (data.error) {
                    error.innerText = data.error;
                } else {
                    error.innerText = '';
                    localStorage.removeItem('token');
                    window.location = '/login';
                }
            });
    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../components/head') %>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <form id="passwordForm">
                <h1>Change password</h1>
                <p>
                    <label>Email:</label>
                    <input type="email" name="email">
                </p>
                <p>
                    <label>Current password:</label>
                    <input type="password" name="oldPassword">
                </p>
                <p>
                    <label>New password:</label>
                    <input type="password" name="newPassword">
                </p>
                <p>
                    <input type="button" value="Submit" onclick="changePassword()" />
                </p>
                <p id="error"></p>
            </form>
        </div>
    </div>
</div>
<footer>
    <%- include ('../components/footer') %>
</footer>

</body>
</html>
